[Oo]bj
[Bb]in

Build/Artifacts/*
Source/packages/*
!Source/packages/repositories.config

*.user
*.suo
*.cache
*.nupkg

~$*
*~

*ReSharper*
*.DotSettings.*

_NCrunch*
*.ncrunchsolution*
*.ncrunchproject
